body{
    background-color: navy;
}

h1{
    border: 0.1em solid black;
    border-radius: 0.3em;
    padding: 0.2em;
    width: fit-content;
    background-color: mintcream;
}

main{
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    vertical-align: middle;
}
section{
    padding: 0.2em 1.2em 1.2em 1.2em;
    width: fit-content;
    border-radius: 0.4em;
    background-color: lightgray;
    align-items: center;
}

section button{
    color: mediumblue;
    font-weight: bold;
    font-size: medium;
}

section h3{
    text-decoration: underline solid  mediumblue;
}